@model klklklmvc.Models.students_record

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>students_record</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.student_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.father_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.father_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.student_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
