@model IEnumerable<mvc_crud.Models.doctor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.doc_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doc_speciality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doc_age)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.doc_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doc_speciality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doc_age)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
